# Configuración de HaroldSound Server
PORT=8000
ADMIN_PASSWORD=tu_contraseña_secreta_aqui
SECRET_KEY=clave_secreta_jwt_para_firmar_cookies
COOKIES_FILE=cookies.txt
DESCARGAS_DIR=descargas
USERS_FILE=users.json
